/* Обнуляем отступы и границы у всех элементов */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Убираем списочные маркеры */
ul,
ol {
	list-style: none;
}

/* Убираем подчеркивания у ссылок */
a {
	text-decoration: none;
	color: inherit;
}

/* Обнуляем стандартные стили заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

/* Выставляем базовые стили для html и body */
html,
body {
	height: 100%;
}
